<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="71c8b31a-4ae1-4a9d-9a12-b4e6ed94a73f" Publisher="CN=Aishwarya R Pradhan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Kids Rhymes</DisplayName>
    <PublisherDisplayName>Aishwarya R Pradhan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChildrenRhymes.App">
      <VisualElements DisplayName="Kids Rhymes" Logo="Assets\Logo-120.png" SmallLogo="Assets\SmallLogo.png" Description="ChildrenRhymes" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Kids Rhymes" WideLogo="Assets\Wlogo-120-scale-80.jpg" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>